__pycache__/
*.py[cod]
*.so
.mypy_cache/
.ruff_cache/
.pytest_cache/
.cache
.coverage
.coverage.*
coverage.xml
htmlcov/

.venv/
.env
.env.*

build/
dist/
*.egg-info/
*.dist-info/
pip-wheel-metadata/

out_pkg/
out_pkg_llm/
eval_runs/
out/
.out/
.ipynb_checkpoints/

.DS_Store
.idea/
.vscode/